{% extends "base.html" %}

{% block title %}
  Hello World - List of all members
{% endblock %}

{% block content %}

<div class="mycard">
    <h1>Members</h1>

    {% if my_members %}
    <ul>
      {% for member in my_members %}
        <li onclick="window.location = '/members/{{ member.slug }}'">{{ member.firstname }} {{ member.lastname }}</li>
      {% endfor %}
    </ul>

    {% else %}
      <p>No hay miembros en la bdd.</p>
    {% endif %}
  </div>
  <ul class="col-md-8 col-lg-10 mx-auto">
    <li class="text-center">Go to <a href="{% url 'hello_world:create_member' %}">Create</a></li>
  </ul>

{% endblock %}