{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  
  <!-- Bootrstap Hoja de Estilos -->
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="{% static 'bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>

{% if request.path %}
    <p><a href="/">HOME</a></p>
{% endif %}
{% block content %}

{% endblock %}

</body>
</html>