{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  
  <!-- Bootrstap Hoja de Estilos -->
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="{% static 'bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>

<div class="row">
  <div class="col-md-4 col-lg-2">
    {% include "sidebar.html" %}
  </div>
  <div class="col-md-8 col-lg-10 p-4">
  
    <div class="topnav mb-2">
      <a class="text-decoration-none" href="{% url 'main' %}">HOME</a> |
      <a class="text-decoration-none" href="{% url 'all_members' %}">MEMBERS</a> |
      <a class="text-decoration-none" href="{% url 'create_member' %}"><i class="bi bi-person-add"></i> CREATE</a>
    </div>
  {% block content %}

  {% endblock %}
  </div>
</div>

</body>
</html>