{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  
  <!-- Bootrstap Hoja de Estilos -->
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="{% static 'bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>

<div class="row">
  <div class="col-2">
    {% include "sidebar.html" %}
  </div>
  <div class="col-10 p-4">
  
    <div class="topnav mb-2">
      <a href="/">HOME</a> |
      <a href="/members">MEMBERS</a> |
      <a href="/hello_world">HELLO WORLD</a>
    </div>
  {% block content %}

  {% endblock %}
  </div>
</div>

</body>
</html>