{% extends "base.html" %}

{% block title %}
  Delete Member
{% endblock %}


{% block content %}
<div class="col-8 mx-auto">
    {% if msg %}
        <div class="alert alert-success">
            {{ msg}}
        </div>
        <a href="{% url 'hello_world:all_members' %}"><ul class="col-md-8 col-lg-10 mx-auto"><li class="text-center">All members</li></ul></a>
    {% endif %}    
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}   
    {% if not msg and not error and my_member %}

    <div class="row text-center mt-4 mb-0">
        <!--<form action="{% url 'hello_world:delete_member' my_member.slug %}" method="post">
            {% csrf_token %}
            <input type="submit" class="py-2 px-3 btn btn-success text-white" value="YES">   
            <input type="submit" class="py-2 px-3 btn btn-danger text-white" formaction="{% url 'hello_world:detail_member' my_member.slug %}" value="NO">
        </form>
    -->

      <form method="post">{% csrf_token %}
        <h2 class="mb-3">Are you sure delete {{my_member}}?</h2>
        <input type="submit" class="py-2 px-3 btn btn-primary text-white" value="Confirm">
     </form>

    </div>
    {% endif %}
</div>
{% endblock %}
