{% extends "base.html" %}

{% block title %}
    Details about {{ my_member.firstname }} {{ my_member.lastname }}
{% endblock %}

{% block content %}

    <div class="mycard">
        <h1>{{ my_member.firstname }} {{ my_member.lastname }}</h1>
        
        {% if my_member.phone %}<p>Phone: {{ my_member.phone }}</p>{% endif %}
        {% if my_member.joined_date %}<p>Member since: {{ my_member.joined_date }}</p>{% endif %}
        
        
        <ul class="row">
            <li class="col mx-2 li-orange text-end" onclick="window.location = '/members/update/{{ my_member.slug }}'">
                <a class=""><i class="bi bi-person-gear"></i> Update</a> 
            </li>
            <li class="col mx-2 li-red text-end" onclick="window.location = '/members/delete/{{ my_member.slug }}'">
                <a class="me-1"><i class="bi bi-person-dash"></i> Delete</a>
            </li>
        </ul>
    
    </div>
    <a href="{% url 'hello_world:all_members' %}"><ul class="col-md-8 col-lg-10 mx-auto"><li class="text-center">Back to members</li></ul></a>
   
{% endblock %}