{% extends "base.html" %}

{% block title %}
    Details about {{ my_member.firstname }} {{ my_member.lastname }}
{% endblock %}

{% block content %}

    <div class="mycard">
        <h1>{{ my_member.firstname }} {{ my_member.lastname }}</h1>
        
        {% if my_member.phone %}<p>Phone: {{ my_member.phone }}</p>{% endif %}
        {% if my_member.joined_date %}<p>Member since: {{ my_member.joined_date }}</p>{% endif %}
    </div>
    <p class="text-center">Back to <a href="/members">Members</a> | 
    <a href="/members/update/{{my_member.slug}}">Update</a></p>
  
{% endblock %}